{% load static %}
{% load footer_menu menu from shop %}
{% load i18n %}
{% load get_thumbnail get_product_image_thumbnail from product_images %}

<div class="home">
    <div class="row home__supermarket" style="margin-top: 10px;"> 
        <div style="width:100%;padding:25px;color:black" >
            <img src="{% get_product_image_thumbnail store.get_first_image method="thumbnail" size=510 %}" 
            data-srcset="{% get_product_image_thumbnail store.get_first_image method="thumbnail" size=60 %} 1x, {% get_product_image_thumbnail store.get_first_image method="thumbnail" size=120 %} 2x"
            height="150px"/>
            <h1>{{store.name}}</h1>
            <h3>{{store.address}}</h3>
          </div>
    </div>
    </div>
    <br/>
    <div class="navbar__menu container d-block">
        <nav class="navigation">
          {% menu site_menu=top_menu horizontal=True %}
        </nav>
      </div>
      <br/>
    <div>
        <form class="form-inline search-form" action="{{store.get_absolute_url}}search" style="width:50%;margin:auto">
            <input class="form-control" type="text" name="q"
                   value="{% if query %}{{ query }}{% endif %}"
                   placeholder="{% trans "Search for product" %}"
                   required>
            <button class="btn btn-secondary variant-picker__option" type="submit">
              {% trans "Search" %}  <svg data-src="{% static "images/search.svg" %}" width="18" height="18"/>
            </button></form>
    </div>

 