{% load static %}
{% load footer_menu menu from shop %}
{% load i18n %}

<div class="home">
    <div class="row home__supermarket" style="margin-top: 10px;"> 
        <div style="width:100%;padding:25px;box-shadow: 10px 10px 5px grey;text-shadow: 2px 2px 4px #000000;" >
            <img src="{% static store.get_first_image %}" height="150px"/>
            <h1>{{store.name}}</h1>
            <h3>Manikonda,Hyderabad</h3>
          </div>
    </div>
    </div>
    <br/>
    <div class="navbar__menu container d-block">
        <nav class="navigation">
          {% menu site_menu=top_menu horizontal=True %}
        </nav>
      </div>
      <br/>
    <div>
        <form class="form-inline search-form" action="{{store.get_absolute_url}}search">
            <input class="form-control" type="text" name="q"
                   value="{% if query %}{{ query }}{% endif %}"
                   placeholder="{% trans "Search for product" %}"
                   required>
            <button class="btn btn-primary" type="submit">
              {% trans "Search" %} <svg data-src="{% static "images/search.svg" %}" width="18" height="18"/>
            </button></form>
    </div>

 