
.grey-text{
  color: grey!important;
}

.red-text{
  color: red!important;
}

.green-text{
  color: green !important;
}

.text-lighten-1{
   opactiy: 0.5;
}

.waves-effect.waves-lightgray .waves-ripple {
  background-color: rgba(0, 0, 0, 0.05);
}

.card {
  .card-title {
    overflow-wrap: break-word;
  }

  .card-border {
    border-bottom: 1px solid $table-border-color;
  }
}

.row {
  .col {
    // Prevent from horizontal scroll on mobile devices
    max-width: 100%;
  }
}
